<h1>My BBS</h1>
<ul>
  <% @comments.each do |comment| %>
    <li data-id="<%= comment.id %> data-token="<%= Rack::Csrf.csrf_token(env) %>">
      <%= Rack::Utils.escape_html(comment.body) %>
      <span class="delete">[x]</span>
    </li>
  <% end %>
</ul>
<form action="/create" method="post">
  <%= Rack::Csrf.csrf_tag(env) %>
  <input type="text" name="body">
  <input type="submit" value="Add comment">
</form>
